ul {
  display: block;
  font-size: 20px;
}

H1 {
  font-size: 50px;
}

.container4{
  display: flex;
  /* width: 100%; */
  max-width: 1040px;
  justify-content:center;
  margin: 0;
  padding: 100px;


}

  body {

  }
.intro {
  display: flex;
  justify-content:left;
  background-image: "img/надпись.jpg";
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
  border: 10px solid #79443B;
}
.osn {
    display: flex;
    /* border: 10px solid blue; */
    justify-content:flex-end;
    align-items: stretch;
    margin-top: 40px;
    margin-right: -10px;
    margin-left: -10px;
}
.inf {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-right:250px;
  margin-left:150px;
  align-content: flex-start;
  /* border: 10px solid red; */

  background: linear-gradient(to bottom, rgba(255,255,255,1) 42%,rgba(255,255,255,0.98) 43%,rgba(255,255,255,0) 100%);
  border-radius: 10px;
}
.ccilkir{
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 100px;
  margin-left: -10px;
  display: flex;
  justify-content:flex-end;
  background: linear-gradient(to bottom, rgba(119,63,53,1) 70%,rgba(119,63,53,0.77) 77%,rgba(119,63,53,0.54) 84%,rgba(119,63,53,0) 100%);
  height: 400px;
  width: 200px;
}
.bibliotek {

  height: 190px;
  width: 380px;
  border-radius: 10px;
  border: 10px solid red;
  margin: 35px;
  margin-top: 50px;
  font-size: 60px;


}

.bibliotek:hover{
  animation-duration: 0.2s;
  height: 200px;
  width: 390px;
  margin: 25px;
  margin-top: 40px;
  animation-timing-function: linear;
  animation-name: bibl;
}

@keyframes bibl {
  0%{
    height: 190px;
    width: 380px;
    margin: 35px;
    margin-top: 50px;
  }
  100%{
    height: 200px;
    width: 390px;
    margin: 25px;
    margin-top: 40px;
  }
}

footer {
  display: flex;
  justify-content:center;
  background: linear-gradient(to right, rgba(119,76,69,0) 0%,rgba(119,76,69,1) 22%,rgba(119,76,69,1) 78%,rgba(119,76,69,0) 100%);
  border-radius: 10px;
  margin-bottom: -10px;
}

.compos {
    display: flex;
    justify-content:space-between;
    position: fixed;
}

.composl {
    display: flex;
    justify-content:flex-start;
    position: fixed;
  }

.ccilkil{

  border-top-right-radius: 200px 200px;
  border-bottom-right-radius: 200px 200px;

  padding: 20px;
  margin-bottom: 100px;
  margin-left: -10px;
  display: flex;
  justify-content:flex-start;
  background: linear-gradient(to bottom, rgba(119,63,53,1) 70%,rgba(119,63,53,0.77) 77%,rgba(119,63,53,0.54) 84%,rgba(119,63,53,0) 100%);
  height: 200px;
  width: 40px;
  flex-direction: column;
}
