H1 {
  font-size: 120px;
  opacity: none;

}

.container4{
  font-size: 40px;
  color: white;
  display: flex;
  /* width: 100%; */
  /* max-width: 1040px; */
  justify-content:center;
  /* margin: 0; */
  padding: 100px;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}


}

  body {

  }
.intro {
  display: flex;
  justify-content:center;
  background-image: "img/надпись.jpg";
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 45px;
  border: 0px solid rgba(255,255,255, 0.5);
  background-color: rgba(255,255,255, 0.3);

}
.osn {
    display: flex;
    /* border: 10px solid blue; */
    justify-content:flex-end;
    align-items: stretch;
    margin-top: 40px;
    /* margin-right: -10px;
    margin-left: -10px; */
}
.inf {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  display: flex;
  flex-wrap: wrap;
  min-width: 450px;
  min-height: 955px;
  padding: 20px;
  justify-content: center;
  margin-right:250px;
  margin-left:150px;
  align-content: flex-start;
  /* border: 10px solid red; */

  background: linear-gradient(to bottom, rgba(255,255,255,0.5) 42%,rgba(255,255,255,0.5) 43%,rgba(255,255,255,0.2) 100%);
  border-radius: 45px;
}

.bibliotek {
  display: flex;
  justify-content: center;
  height: 190px;
  width: 380px;
  border-radius: 45px;
  border: 5px solid rgba(255,255,255,0.8);
  margin: 35px;
  margin-top: 50px;
  font-size: 60px;
  transition: all ease 0.2s;
  transition-property: all;
  /* background-image:  url(img/2021.jpg); */


}

.bibliotek:hover{
  animation-duration: 0.2s;
  height: 200px;
  width: 390px;
  margin: 25px;
  margin-top: 40px;
  /* animation-timing-function:ease; */
  animation-name: bibl;
  transform:scale(1.1,1.1);
  border: 7px solid rgba(255,255,255,0.8);
  cursor:pointer;
}

.item1{
  background-image:  url(img/беня.jpg);

}

.

footer {
  display: flex;
  justify-content:center;
  background: #24397E;
  border-radius: 10px;
  margin-bottom: -10px;
}

.composr {
    display: flex;
    justify-content:space-between;
    position: fixed;
}

.ccilkir{

  margin-top:453px;
  border-radius: 45px;
  padding-top:7px;
  padding-bottom: 7px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  border: 0px solid rgba(255,255,255, 0.5);
  background-color: rgba(255,255,255, 0.3);
  height: 216px;
  width: 230px;
  margin-right: -40px;

}

.composl {
    display: flex;
    justify-content:flex-start;
    position: fixed;
  }

.ccilkil{

  border-top-right-radius: 45px 45px;
  border-bottom-right-radius: 45px 45px;

  padding: 20px;
  margin-bottom: 100px;
  margin-left: -10px;
  margin-top:453px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  border: 0px solid rgba(255,255,255, 0.5);
  background-color: rgba(255,255,255, 0.3);
  height: 200px;
  width: 50px;

}

.com{
  display: flex;
  justify-content: center;
  height: 60px;
  width: 209px;
  border-radius: 30px;
  border: 2px solid rgba(255,255,255, 0.8);
  background-color: rgba(255,255,255, 0.5);
  margin-top: 8px;
  margin-left:-30px;
  margin-right: 7px;
  margin-bottom: 8px;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  transition: all ease 0.2s;


}

.com:hover{
  background-color: rgba(255,255,255, 0.2);
  cursor:pointer;

}

.naz{
  align: left;
  font-size: 40px;
  /* margin-left: inherit;
  margin-right: inherit; */
}

.cnop{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 35px;
  margin-right: 20px;
}

.back {
      position: fixed;
      background-color: #24397E;
      left: 40px;
      top: 70px;
      border-radius: 100%;
      cursor: pointer;
      width: 55px;
      height: 55px;
      transition: all ease 0.2s;

    }

    .back::before {
      content: "";
      text-align: center;
      position: absolute;
      width: 30px;
      height: 30px;
      left: 12px;
      top: 12px;
      transform: rotate(-90deg);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  width='30' height='30' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
    }

/*кнопка возврата на верх */
.btn-up {
      position: fixed;
      background-color: #24397E;
      left: 50px;
      bottom: 30px;
      border-radius: 22px;
      cursor: pointer;
      width: 44px;
      height: 44px;
      transition: all ease 0.2s;
    }

    .btn-up::before {
      content: "";
      text-align: center;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 12px;
      top: 12px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
    }

      .btn-up_hide {
        display: none;
      }
      .btn-up_hiding {
        opacity: 0;
      }

      @media (hover: hover) and (pointer: fine) {
        .btn-up:hover {
          background-color: #6B7494;
          animation-name: gh;
          animation-duration: 0.2s;
        }
      }
      @keyframes gh {
        0%{
          background-color: #24397E;
        }
        100%{
          background-color: #6B7494;
        }


      }



  .perehod{

    display: flex;
    justify-content: center;
    width: 66px;
    height: 66px;
    border-radius: 33px;
    border: 4px solid #4d7fb9;
    margin-left: -5px;
    margin-top: -10px;

    background-color:  rgba(255,255,255, 0.5);
    /* background-image: url(img/вк.png)  */
    transition: all ease 0.2s;

  }

.perehod:hover{
  background-color:  rgba(255,255,255, 0.2);
  cursor:pointer;
}


.pis{
  margin-top:12px
}
.yandex{
  margin-top: 10px;
}
.school{
  margin-top: -5px;
  padding-bottom: 50px;
}


.exp{
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 5px solid rgba(255,255,255, 0.8);
  margin-left: 20px;
  transition: all ease 0.2s;
  transition-property: all;
}
.exp:hover{
  animation-duration: 0.2s;
  width: 155px;
  height: 155px;
  border: 3px solid rgba(255,255,255, 0.8);
  transform:scale(1.1,1.1);
  cursor:pointer;
  margin-left: 15px;
}
.exxpxx{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 25px;
}

a {
  text-decoration: none;
  color: black;
}

.card{
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

  margin-top: 20px;
  padding: 20px;
  justify-content: center;
  margin-bottom: 20px;
  background: rgba(255,255,255,0.5);
  border-radius: 30px;
}
.k{
  text-indent: 20px;
  font-size: 20px;
}
/* Ссылки в странице на страницу */

.spis{

}
ul{
  display: block;
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.nnm{

  display: flex;
  justify-content: center;
}
.trt{
  border-radius: 30px;
  justify-content: center;
  padding-top: 20px;
  display: flex;
  width: 209px;
  height: 60px;
}
